In [ ]:
+

#Q1Write a code to reverse a string

In [ ]:
string ="hello world"
string[::-1]

'dlrow olleh'

#Q2Write a code to count the number of vowels in a string

In [ ]:
string ="hello world"
vowels = "aeiouAEIOU"
count = sum(string.count(vowel)for vowel in vowels)
print(count)

3

#Q3Write a code to check if a given string is a palindrome or not

In [ ]:
string ="madam"
if string == string[::-1]:
  print("palindrome")
else:
  print("not palindrome")

palindrome

#Q4Write a code to check if two given strings are anagrams of each other

In [ ]:
string1 ="silent"
string2="listen"
if sorted(string1)==sorted(string2):
  print("anargam")
else:
  print("not anargam")

anargam

#Q5Write a code to find all occurrences of a given substring within another string

In [ ]:
string ="hello world"
substring="l"
count=string.count(substring)
print(count)

3

#Q6Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
string ="aabcccaab"
result=""
count=1
for i in range(1,len(string)):
   if string[i]==string[i-1]:
     count+=1
   else:
     result+=string[i-1]+str(count)
     count=1
result+=string[-1]+str(count)
print(result)

a2b1c3a2b1

#Q7Write a code to determine if a string has all unique characters

In [ ]:
string  = "hello"
if len(string)==len(set(string)):
  print("unique")
else:
  print("not unique")

not unique

#Q8Write a code to convert a given string to uppercase or lowercase

In [ ]:
string ="apple"
string.upper()

'APPLE'

In [ ]:
string ="apple"
string.lower()

'apple'

#Q9Write a code to count the number of words in a string

In [ ]:
string ="hello world"
count=len(string.split())
print(count)

2

#Q10Write a code to concatenate two strings without using the + operator

In [ ]:
string1="hello"
string2="world"
result="".join([string1,string2])
print(result)

helloworld

#Q11Write a code to remove all occurrences of a specific element from a list

In [ ]:
list= [1,2,3,1,2,4,5,1]
element=1
result=[i for i in list if i!=element]
print(result)

[2, 3, 2, 4, 5]

#Q12Implement a code to find the second largest number in a given list of integers

In [1]:
list = [1,2,3,4,5,6,7]
list.sort()
a=list[-2]
print(a)

6

#Q13Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [2]:
list = [1,2,3,1,2,4,5,1]
result={}
for i in list:
  if i in result:
    result[i]+=1
  else:
    result[i]=1
print(result)

{1: 3, 2: 2, 3: 1, 4: 1, 5: 1}

#Q14Write a code to reverse a list in-place without using any built-in reverse functions

In [3]:
list = [1,3,4,2,5,6]
list[::-1]

[6, 5, 2, 4, 3, 1]

#Q15Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [4]:
list = [1,4,2,5,3,7,4,4,4,5,3]
unique_list = []
for item in list:
    if item not in unique_list:
        unique_list.append(item)
print(unique_list)

[1, 4, 2, 5, 3, 7]

#Q16Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [5]:
list = [1,2,3,4,5,6,7]
if list==sorted(list) or list==sorted(list,reverse=True):
  print("sorted")
else:
  print("not sorted")

sorted

#Q17Write a code to merge two sorted lists into a single sorted list

In [6]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
add = list1+list2
add.sort()
print(add)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Q18Implement a code to find the intersection of two given lists

In [ ]:
list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]
intersection = list(set(list1).intersection(list2))
print(intersection)

#Q19Create a code to find the union of two lists without duplicates

In [12]:
list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]
union = (set(list1) | set(list2))
print(union)

{1, 2, 3, 4, 5, 6, 7, 8}

#Q20 Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [13]:
list = [1,2,3,4,5,6,7]
import random
random.shuffle(list)
print(list)

[5, 3, 7, 4, 1, 2, 6]

#Q21 Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [14]:
a=(1,2,3,4,5)
b=(4,5,6,7,8)
common=tuple(set(a).intersection(b))
print(common)

(4, 5)

#Q22 Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

In [16]:
a = input("Enter first set of integers separated by commas: ")
b = input("Enter second set of integers separated by commas: ")
a = set(map(int,  a.split(',')))
b = set(map(int,  b.split(',')))
intersection = a.intersection(b)
print("The intersection of the two sets is:", intersection)

Enter first set of integers separated by commas: 1,2,3,4,5,6
Enter second set of integers separated by commas: 2,3,4,6,9,8
The intersection of the two sets is: {2, 3, 4, 6}

#Q23Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [17]:
a = (1, 2, 3)
b = (4, 5, 6)
c = a + b
print(c)

(1, 2, 3, 4, 5, 6)

#Q24Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

In [18]:
set1 = set(input("Enter first set of strings separated by commas: ").split(','))
set2 = set(input("Enter second set of strings separated by commas: ").split(','))
set3 = set1.difference(set2)
print("The elements that are present in the first set but not in the second set are:", set3)

Enter first set of strings separated by commas: "a","b","C"
Enter second set of strings separated by commas: "a","D","v"
The elements that are present in the first set but not in the second set are: {'"b"', '"C"'}

#Q25 Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [19]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
start = int(input("Enter start index: "))
end = int(input("Enter end index: "))
b = a[start:end+1]
print(b)

Enter start index: 2
Enter end index: 8
(3, 4, 5, 6, 7, 8, 9)

#Q26Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [20]:
set1 = set(input("Enter first set of characters separated by commas: ").split(','))
set2 = set(input("Enter second set of characters separated by commas: ").split(','))
set3 = set1.union(set2)
print("The union of the two sets is:", set3)

Enter first set of characters separated by commas: 2,3,4
Enter second set of characters separated by commas: 5,3,1
The union of the two sets is: {'2', '5', '4', '1', '3'}

#Q27 Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [22]:
tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
max_value = max(tuple)
min_value = min(tuple)
print("The maximum value in the tuple is:", max_value)
print("The minimum value in the tuple is:", min_value)

The maximum value in the tuple is: 10
The minimum value in the tuple is: 1

#Q28 Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [23]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union = set1.union(set2)
intersection = set1.intersection(set2)
difference = set1.difference(set2)
print("The union of the two sets is:", union)
print("The intersection of the two sets is:", intersection)
print("The difference of the two sets is:", difference)

The union of the two sets is: {1, 2, 3, 4, 5, 6, 7, 8}
The intersection of the two sets is: {4, 5}
The difference of the two sets is: {1, 2, 3}

#Q29 Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [24]:
tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
element = int(input("Enter an element: "))
count = tuple.count(element)

Enter an element: 4

#Q30 Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

In [25]:
set1 = set(input("Enter first set of strings separated by commas: ").split(','))
set2 = set(input("Enter second set of strings separated by commas: ").split(','))
set3 = set1.symmetric_difference(set2)
print("The symmetric difference of the two sets is:", set3)

Enter first set of strings separated by commas: 2,3,4,5
Enter second set of strings separated by commas: 5,4,6,7
The symmetric difference of the two sets is: {'6', '2', '7', '3'}

#Q31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

In [26]:
list = ['apple', 'banana', 'apple', 'orange', 'banana', 'orange', 'apple']
result = {}
for word in list:
    if word in result:
        result[word] += 1
    else:
        result[word] = 1
print(result)

{'apple': 3, 'banana': 2, 'orange': 2}

#Q32 Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

In [27]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'c': 5, 'd': 6}
for key, value in dict2.items():
    if key in dict1:
        dict1[key] += value
    else:
        dict1[key] = value
print(dict1)

{'a': 1, 'b': 6, 'c': 8, 'd': 6}

#Q33 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

In [28]:
a = {'a': {'b': {'c': 'd'}}}
keys = ['a', 'b', 'c']
value = a
for key in keys:
    if key in value:
        value = value[key]
    else:
        value = None
        break
print(value)

d

#Q34 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

In [33]:
a = {'a': {'b': {'c': 'd'}}}
keys = ['a', 'b', 'c']
value = a
for key in keys:
    if key in value:
        value = value[key]
    else:
        value = None
        break
print(value)

d

#Q35 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

In [35]:
a = {'a': {'b': {'c': 'd'}}}
keys = ['a', 'b', 'c']
value = a
for key in keys:
    if key in value:
        value = value[key]
    else:
        value = None
        break
        print(value)